@charset "UTF-8";
/* Webfont: BloggerSans-Light */
@font-face {
  font-family: 'BloggerSans';
  src: url("../fonts/BloggerSans/BloggerSans-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BloggerSans/BloggerSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/BloggerSans-Light.woff") format("woff"), url("../fonts/BloggerSans/BloggerSans-Light.ttf") format("truetype"), url("../fonts/BloggerSans/BloggerSans-Light.svg#BloggerSans-Light") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300;
  text-rendering: optimizeLegibility; }
/* Webfont: BloggerSans */
@font-face {
  font-family: 'BloggerSans';
  src: url("../fonts/BloggerSans/BloggerSans.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BloggerSans/BloggerSans.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/BloggerSans.woff") format("woff"), url("../fonts/BloggerSans/BloggerSans.ttf") format("truetype"), url("../fonts/BloggerSans/BloggerSans.svg#BloggerSans") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility; }
/* Webfont: BloggerSans-Medium */
@font-face {
  font-family: 'BloggerSans';
  src: url("../fonts/BloggerSans/BloggerSans-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BloggerSans/BloggerSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/BloggerSans-Medium.woff") format("woff"), url("../fonts/BloggerSans/BloggerSans-Medium.ttf") format("truetype"), url("../fonts/BloggerSans/BloggerSans-Medium.svg#BloggerSans-Medium") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500;
  text-rendering: optimizeLegibility; }
/* Webfont: BloggerSans-Bold */
@font-face {
  font-family: 'BloggerSans';
  src: url("../fonts/BloggerSans/BloggerSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/BloggerSans/BloggerSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/BloggerSans-Bold.woff") format("woff"), url("../fonts/BloggerSans/BloggerSans-Bold.ttf") format("truetype"), url("../fonts/BloggerSans/BloggerSans-Bold.svg#BloggerSans-Bold") format("svg");
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility; }
/*!
 *  Font Awesome 4.4.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.4.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.4.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.4.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center; }
  .fa-li.fa-lg {
    left: -1.85714em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }
.fa.fa-pull-right {
  margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }
.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: ""; }

.fa-music:before {
  content: ""; }

.fa-search:before {
  content: ""; }

.fa-envelope-o:before {
  content: ""; }

.fa-heart:before {
  content: ""; }

.fa-star:before {
  content: ""; }

.fa-star-o:before {
  content: ""; }

.fa-user:before {
  content: ""; }

.fa-film:before {
  content: ""; }

.fa-th-large:before {
  content: ""; }

.fa-th:before {
  content: ""; }

.fa-th-list:before {
  content: ""; }

.fa-check:before {
  content: ""; }

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: ""; }

.fa-search-plus:before {
  content: ""; }

.fa-search-minus:before {
  content: ""; }

.fa-power-off:before {
  content: ""; }

.fa-signal:before {
  content: ""; }

.fa-gear:before,
.fa-cog:before {
  content: ""; }

.fa-trash-o:before {
  content: ""; }

.fa-home:before {
  content: ""; }

.fa-file-o:before {
  content: ""; }

.fa-clock-o:before {
  content: ""; }

.fa-road:before {
  content: ""; }

.fa-download:before {
  content: ""; }

.fa-arrow-circle-o-down:before {
  content: ""; }

.fa-arrow-circle-o-up:before {
  content: ""; }

.fa-inbox:before {
  content: ""; }

.fa-play-circle-o:before {
  content: ""; }

.fa-rotate-right:before,
.fa-repeat:before {
  content: ""; }

.fa-refresh:before {
  content: ""; }

.fa-list-alt:before {
  content: ""; }

.fa-lock:before {
  content: ""; }

.fa-flag:before {
  content: ""; }

.fa-headphones:before {
  content: ""; }

.fa-volume-off:before {
  content: ""; }

.fa-volume-down:before {
  content: ""; }

.fa-volume-up:before {
  content: ""; }

.fa-qrcode:before {
  content: ""; }

.fa-barcode:before {
  content: ""; }

.fa-tag:before {
  content: ""; }

.fa-tags:before {
  content: ""; }

.fa-book:before {
  content: ""; }

.fa-bookmark:before {
  content: ""; }

.fa-print:before {
  content: ""; }

.fa-camera:before {
  content: ""; }

.fa-font:before {
  content: ""; }

.fa-bold:before {
  content: ""; }

.fa-italic:before {
  content: ""; }

.fa-text-height:before {
  content: ""; }

.fa-text-width:before {
  content: ""; }

.fa-align-left:before {
  content: ""; }

.fa-align-center:before {
  content: ""; }

.fa-align-right:before {
  content: ""; }

.fa-align-justify:before {
  content: ""; }

.fa-list:before {
  content: ""; }

.fa-dedent:before,
.fa-outdent:before {
  content: ""; }

.fa-indent:before {
  content: ""; }

.fa-video-camera:before {
  content: ""; }

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: ""; }

.fa-pencil:before {
  content: ""; }

.fa-map-marker:before {
  content: ""; }

.fa-adjust:before {
  content: ""; }

.fa-tint:before {
  content: ""; }

.fa-edit:before,
.fa-pencil-square-o:before {
  content: ""; }

.fa-share-square-o:before {
  content: ""; }

.fa-check-square-o:before {
  content: ""; }

.fa-arrows:before {
  content: ""; }

.fa-step-backward:before {
  content: ""; }

.fa-fast-backward:before {
  content: ""; }

.fa-backward:before {
  content: ""; }

.fa-play:before {
  content: ""; }

.fa-pause:before {
  content: ""; }

.fa-stop:before {
  content: ""; }

.fa-forward:before {
  content: ""; }

.fa-fast-forward:before {
  content: ""; }

.fa-step-forward:before {
  content: ""; }

.fa-eject:before {
  content: ""; }

.fa-chevron-left:before {
  content: ""; }

.fa-chevron-right:before {
  content: ""; }

.fa-plus-circle:before {
  content: ""; }

.fa-minus-circle:before {
  content: ""; }

.fa-times-circle:before {
  content: ""; }

.fa-check-circle:before {
  content: ""; }

.fa-question-circle:before {
  content: ""; }

.fa-info-circle:before {
  content: ""; }

.fa-crosshairs:before {
  content: ""; }

.fa-times-circle-o:before {
  content: ""; }

.fa-check-circle-o:before {
  content: ""; }

.fa-ban:before {
  content: ""; }

.fa-arrow-left:before {
  content: ""; }

.fa-arrow-right:before {
  content: ""; }

.fa-arrow-up:before {
  content: ""; }

.fa-arrow-down:before {
  content: ""; }

.fa-mail-forward:before,
.fa-share:before {
  content: ""; }

.fa-expand:before {
  content: ""; }

.fa-compress:before {
  content: ""; }

.fa-plus:before {
  content: ""; }

.fa-minus:before {
  content: ""; }

.fa-asterisk:before {
  content: ""; }

.fa-exclamation-circle:before {
  content: ""; }

.fa-gift:before {
  content: ""; }

.fa-leaf:before {
  content: ""; }

.fa-fire:before {
  content: ""; }

.fa-eye:before {
  content: ""; }

.fa-eye-slash:before {
  content: ""; }

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: ""; }

.fa-plane:before {
  content: ""; }

.fa-calendar:before {
  content: ""; }

.fa-random:before {
  content: ""; }

.fa-comment:before {
  content: ""; }

.fa-magnet:before {
  content: ""; }

.fa-chevron-up:before {
  content: ""; }

.fa-chevron-down:before {
  content: ""; }

.fa-retweet:before {
  content: ""; }

.fa-shopping-cart:before {
  content: ""; }

.fa-folder:before {
  content: ""; }

.fa-folder-open:before {
  content: ""; }

.fa-arrows-v:before {
  content: ""; }

.fa-arrows-h:before {
  content: ""; }

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: ""; }

.fa-twitter-square:before {
  content: ""; }

.fa-facebook-square:before {
  content: ""; }

.fa-camera-retro:before {
  content: ""; }

.fa-key:before {
  content: ""; }

.fa-gears:before,
.fa-cogs:before {
  content: ""; }

.fa-comments:before {
  content: ""; }

.fa-thumbs-o-up:before {
  content: ""; }

.fa-thumbs-o-down:before {
  content: ""; }

.fa-star-half:before {
  content: ""; }

.fa-heart-o:before {
  content: ""; }

.fa-sign-out:before {
  content: ""; }

.fa-linkedin-square:before {
  content: ""; }

.fa-thumb-tack:before {
  content: ""; }

.fa-external-link:before {
  content: ""; }

.fa-sign-in:before {
  content: ""; }

.fa-trophy:before {
  content: ""; }

.fa-github-square:before {
  content: ""; }

.fa-upload:before {
  content: ""; }

.fa-lemon-o:before {
  content: ""; }

.fa-phone:before {
  content: ""; }

.fa-square-o:before {
  content: ""; }

.fa-bookmark-o:before {
  content: ""; }

.fa-phone-square:before {
  content: ""; }

.fa-twitter:before {
  content: ""; }

.fa-facebook-f:before,
.fa-facebook:before {
  content: ""; }

.fa-github:before {
  content: ""; }

.fa-unlock:before {
  content: ""; }

.fa-credit-card:before {
  content: ""; }

.fa-feed:before,
.fa-rss:before {
  content: ""; }

.fa-hdd-o:before {
  content: ""; }

.fa-bullhorn:before {
  content: ""; }

.fa-bell:before {
  content: ""; }

.fa-certificate:before {
  content: ""; }

.fa-hand-o-right:before {
  content: ""; }

.fa-hand-o-left:before {
  content: ""; }

.fa-hand-o-up:before {
  content: ""; }

.fa-hand-o-down:before {
  content: ""; }

.fa-arrow-circle-left:before {
  content: ""; }

.fa-arrow-circle-right:before {
  content: ""; }

.fa-arrow-circle-up:before {
  content: ""; }

.fa-arrow-circle-down:before {
  content: ""; }

.fa-globe:before {
  content: ""; }

.fa-wrench:before {
  content: ""; }

.fa-tasks:before {
  content: ""; }

.fa-filter:before {
  content: ""; }

.fa-briefcase:before {
  content: ""; }

.fa-arrows-alt:before {
  content: ""; }

.fa-group:before,
.fa-users:before {
  content: ""; }

.fa-chain:before,
.fa-link:before {
  content: ""; }

.fa-cloud:before {
  content: ""; }

.fa-flask:before {
  content: ""; }

.fa-cut:before,
.fa-scissors:before {
  content: ""; }

.fa-copy:before,
.fa-files-o:before {
  content: ""; }

.fa-paperclip:before {
  content: ""; }

.fa-save:before,
.fa-floppy-o:before {
  content: ""; }

.fa-square:before {
  content: ""; }

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: ""; }

.fa-list-ul:before {
  content: ""; }

.fa-list-ol:before {
  content: ""; }

.fa-strikethrough:before {
  content: ""; }

.fa-underline:before {
  content: ""; }

.fa-table:before {
  content: ""; }

.fa-magic:before {
  content: ""; }

.fa-truck:before {
  content: ""; }

.fa-pinterest:before {
  content: ""; }

.fa-pinterest-square:before {
  content: ""; }

.fa-google-plus-square:before {
  content: ""; }

.fa-google-plus:before {
  content: ""; }

.fa-money:before {
  content: ""; }

.fa-caret-down:before {
  content: ""; }

.fa-caret-up:before {
  content: ""; }

.fa-caret-left:before {
  content: ""; }

.fa-caret-right:before {
  content: ""; }

.fa-columns:before {
  content: ""; }

.fa-unsorted:before,
.fa-sort:before {
  content: ""; }

.fa-sort-down:before,
.fa-sort-desc:before {
  content: ""; }

.fa-sort-up:before,
.fa-sort-asc:before {
  content: ""; }

.fa-envelope:before {
  content: ""; }

.fa-linkedin:before {
  content: ""; }

.fa-rotate-left:before,
.fa-undo:before {
  content: ""; }

.fa-legal:before,
.fa-gavel:before {
  content: ""; }

.fa-dashboard:before,
.fa-tachometer:before {
  content: ""; }

.fa-comment-o:before {
  content: ""; }

.fa-comments-o:before {
  content: ""; }

.fa-flash:before,
.fa-bolt:before {
  content: ""; }

.fa-sitemap:before {
  content: ""; }

.fa-umbrella:before {
  content: ""; }

.fa-paste:before,
.fa-clipboard:before {
  content: ""; }

.fa-lightbulb-o:before {
  content: ""; }

.fa-exchange:before {
  content: ""; }

.fa-cloud-download:before {
  content: ""; }

.fa-cloud-upload:before {
  content: ""; }

.fa-user-md:before {
  content: ""; }

.fa-stethoscope:before {
  content: ""; }

.fa-suitcase:before {
  content: ""; }

.fa-bell-o:before {
  content: ""; }

.fa-coffee:before {
  content: ""; }

.fa-cutlery:before {
  content: ""; }

.fa-file-text-o:before {
  content: ""; }

.fa-building-o:before {
  content: ""; }

.fa-hospital-o:before {
  content: ""; }

.fa-ambulance:before {
  content: ""; }

.fa-medkit:before {
  content: ""; }

.fa-fighter-jet:before {
  content: ""; }

.fa-beer:before {
  content: ""; }

.fa-h-square:before {
  content: ""; }

.fa-plus-square:before {
  content: ""; }

.fa-angle-double-left:before {
  content: ""; }

.fa-angle-double-right:before {
  content: ""; }

.fa-angle-double-up:before {
  content: ""; }

.fa-angle-double-down:before {
  content: ""; }

.fa-angle-left:before {
  content: ""; }

.fa-angle-right:before {
  content: ""; }

.fa-angle-up:before {
  content: ""; }

.fa-angle-down:before {
  content: ""; }

.fa-desktop:before {
  content: ""; }

.fa-laptop:before {
  content: ""; }

.fa-tablet:before {
  content: ""; }

.fa-mobile-phone:before,
.fa-mobile:before {
  content: ""; }

.fa-circle-o:before {
  content: ""; }

.fa-quote-left:before {
  content: ""; }

.fa-quote-right:before {
  content: ""; }

.fa-spinner:before {
  content: ""; }

.fa-circle:before {
  content: ""; }

.fa-mail-reply:before,
.fa-reply:before {
  content: ""; }

.fa-github-alt:before {
  content: ""; }

.fa-folder-o:before {
  content: ""; }

.fa-folder-open-o:before {
  content: ""; }

.fa-smile-o:before {
  content: ""; }

.fa-frown-o:before {
  content: ""; }

.fa-meh-o:before {
  content: ""; }

.fa-gamepad:before {
  content: ""; }

.fa-keyboard-o:before {
  content: ""; }

.fa-flag-o:before {
  content: ""; }

.fa-flag-checkered:before {
  content: ""; }

.fa-terminal:before {
  content: ""; }

.fa-code:before {
  content: ""; }

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: ""; }

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: ""; }

.fa-location-arrow:before {
  content: ""; }

.fa-crop:before {
  content: ""; }

.fa-code-fork:before {
  content: ""; }

.fa-unlink:before,
.fa-chain-broken:before {
  content: ""; }

.fa-question:before {
  content: ""; }

.fa-info:before {
  content: ""; }

.fa-exclamation:before {
  content: ""; }

.fa-superscript:before {
  content: ""; }

.fa-subscript:before {
  content: ""; }

.fa-eraser:before {
  content: ""; }

.fa-puzzle-piece:before {
  content: ""; }

.fa-microphone:before {
  content: ""; }

.fa-microphone-slash:before {
  content: ""; }

.fa-shield:before {
  content: ""; }

.fa-calendar-o:before {
  content: ""; }

.fa-fire-extinguisher:before {
  content: ""; }

.fa-rocket:before {
  content: ""; }

.fa-maxcdn:before {
  content: ""; }

.fa-chevron-circle-left:before {
  content: ""; }

.fa-chevron-circle-right:before {
  content: ""; }

.fa-chevron-circle-up:before {
  content: ""; }

.fa-chevron-circle-down:before {
  content: ""; }

.fa-html5:before {
  content: ""; }

.fa-css3:before {
  content: ""; }

.fa-anchor:before {
  content: ""; }

.fa-unlock-alt:before {
  content: ""; }

.fa-bullseye:before {
  content: ""; }

.fa-ellipsis-h:before {
  content: ""; }

.fa-ellipsis-v:before {
  content: ""; }

.fa-rss-square:before {
  content: ""; }

.fa-play-circle:before {
  content: ""; }

.fa-ticket:before {
  content: ""; }

.fa-minus-square:before {
  content: ""; }

.fa-minus-square-o:before {
  content: ""; }

.fa-level-up:before {
  content: ""; }

.fa-level-down:before {
  content: ""; }

.fa-check-square:before {
  content: ""; }

.fa-pencil-square:before {
  content: ""; }

.fa-external-link-square:before {
  content: ""; }

.fa-share-square:before {
  content: ""; }

.fa-compass:before {
  content: ""; }

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: ""; }

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: ""; }

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: ""; }

.fa-euro:before,
.fa-eur:before {
  content: ""; }

.fa-gbp:before {
  content: ""; }

.fa-dollar:before,
.fa-usd:before {
  content: ""; }

.fa-rupee:before,
.fa-inr:before {
  content: ""; }

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: ""; }

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: ""; }

.fa-won:before,
.fa-krw:before {
  content: ""; }

.fa-bitcoin:before,
.fa-btc:before {
  content: ""; }

.fa-file:before {
  content: ""; }

.fa-file-text:before {
  content: ""; }

.fa-sort-alpha-asc:before {
  content: ""; }

.fa-sort-alpha-desc:before {
  content: ""; }

.fa-sort-amount-asc:before {
  content: ""; }

.fa-sort-amount-desc:before {
  content: ""; }

.fa-sort-numeric-asc:before {
  content: ""; }

.fa-sort-numeric-desc:before {
  content: ""; }

.fa-thumbs-up:before {
  content: ""; }

.fa-thumbs-down:before {
  content: ""; }

.fa-youtube-square:before {
  content: ""; }

.fa-youtube:before {
  content: ""; }

.fa-xing:before {
  content: ""; }

.fa-xing-square:before {
  content: ""; }

.fa-youtube-play:before {
  content: ""; }

.fa-dropbox:before {
  content: ""; }

.fa-stack-overflow:before {
  content: ""; }

.fa-instagram:before {
  content: ""; }

.fa-flickr:before {
  content: ""; }

.fa-adn:before {
  content: ""; }

.fa-bitbucket:before {
  content: ""; }

.fa-bitbucket-square:before {
  content: ""; }

.fa-tumblr:before {
  content: ""; }

.fa-tumblr-square:before {
  content: ""; }

.fa-long-arrow-down:before {
  content: ""; }

.fa-long-arrow-up:before {
  content: ""; }

.fa-long-arrow-left:before {
  content: ""; }

.fa-long-arrow-right:before {
  content: ""; }

.fa-apple:before {
  content: ""; }

.fa-windows:before {
  content: ""; }

.fa-android:before {
  content: ""; }

.fa-linux:before {
  content: ""; }

.fa-dribbble:before {
  content: ""; }

.fa-skype:before {
  content: ""; }

.fa-foursquare:before {
  content: ""; }

.fa-trello:before {
  content: ""; }

.fa-female:before {
  content: ""; }

.fa-male:before {
  content: ""; }

.fa-gittip:before,
.fa-gratipay:before {
  content: ""; }

.fa-sun-o:before {
  content: ""; }

.fa-moon-o:before {
  content: ""; }

.fa-archive:before {
  content: ""; }

.fa-bug:before {
  content: ""; }

.fa-vk:before {
  content: ""; }

.fa-weibo:before {
  content: ""; }

.fa-renren:before {
  content: ""; }

.fa-pagelines:before {
  content: ""; }

.fa-stack-exchange:before {
  content: ""; }

.fa-arrow-circle-o-right:before {
  content: ""; }

.fa-arrow-circle-o-left:before {
  content: ""; }

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: ""; }

.fa-dot-circle-o:before {
  content: ""; }

.fa-wheelchair:before {
  content: ""; }

.fa-vimeo-square:before {
  content: ""; }

.fa-turkish-lira:before,
.fa-try:before {
  content: ""; }

.fa-plus-square-o:before {
  content: ""; }

.fa-space-shuttle:before {
  content: ""; }

.fa-slack:before {
  content: ""; }

.fa-envelope-square:before {
  content: ""; }

.fa-wordpress:before {
  content: ""; }

.fa-openid:before {
  content: ""; }

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: ""; }

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: ""; }

.fa-yahoo:before {
  content: ""; }

.fa-google:before {
  content: ""; }

.fa-reddit:before {
  content: ""; }

.fa-reddit-square:before {
  content: ""; }

.fa-stumbleupon-circle:before {
  content: ""; }

.fa-stumbleupon:before {
  content: ""; }

.fa-delicious:before {
  content: ""; }

.fa-digg:before {
  content: ""; }

.fa-pied-piper:before {
  content: ""; }

.fa-pied-piper-alt:before {
  content: ""; }

.fa-drupal:before {
  content: ""; }

.fa-joomla:before {
  content: ""; }

.fa-language:before {
  content: ""; }

.fa-fax:before {
  content: ""; }

.fa-building:before {
  content: ""; }

.fa-child:before {
  content: ""; }

.fa-paw:before {
  content: ""; }

.fa-spoon:before {
  content: ""; }

.fa-cube:before {
  content: ""; }

.fa-cubes:before {
  content: ""; }

.fa-behance:before {
  content: ""; }

.fa-behance-square:before {
  content: ""; }

.fa-steam:before {
  content: ""; }

.fa-steam-square:before {
  content: ""; }

.fa-recycle:before {
  content: ""; }

.fa-automobile:before,
.fa-car:before {
  content: ""; }

.fa-cab:before,
.fa-taxi:before {
  content: ""; }

.fa-tree:before {
  content: ""; }

.fa-spotify:before {
  content: ""; }

.fa-deviantart:before {
  content: ""; }

.fa-soundcloud:before {
  content: ""; }

.fa-database:before {
  content: ""; }

.fa-file-pdf-o:before {
  content: ""; }

.fa-file-word-o:before {
  content: ""; }

.fa-file-excel-o:before {
  content: ""; }

.fa-file-powerpoint-o:before {
  content: ""; }

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: ""; }

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: ""; }

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: ""; }

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: ""; }

.fa-file-code-o:before {
  content: ""; }

.fa-vine:before {
  content: ""; }

.fa-codepen:before {
  content: ""; }

.fa-jsfiddle:before {
  content: ""; }

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: ""; }

.fa-circle-o-notch:before {
  content: ""; }

.fa-ra:before,
.fa-rebel:before {
  content: ""; }

.fa-ge:before,
.fa-empire:before {
  content: ""; }

.fa-git-square:before {
  content: ""; }

.fa-git:before {
  content: ""; }

.fa-y-combinator-square:before,
.fa-yc-square:before,
.fa-hacker-news:before {
  content: ""; }

.fa-tencent-weibo:before {
  content: ""; }

.fa-qq:before {
  content: ""; }

.fa-wechat:before,
.fa-weixin:before {
  content: ""; }

.fa-send:before,
.fa-paper-plane:before {
  content: ""; }

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: ""; }

.fa-history:before {
  content: ""; }

.fa-circle-thin:before {
  content: ""; }

.fa-header:before {
  content: ""; }

.fa-paragraph:before {
  content: ""; }

.fa-sliders:before {
  content: ""; }

.fa-share-alt:before {
  content: ""; }

.fa-share-alt-square:before {
  content: ""; }

.fa-bomb:before {
  content: ""; }

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: ""; }

.fa-tty:before {
  content: ""; }

.fa-binoculars:before {
  content: ""; }

.fa-plug:before {
  content: ""; }

.fa-slideshare:before {
  content: ""; }

.fa-twitch:before {
  content: ""; }

.fa-yelp:before {
  content: ""; }

.fa-newspaper-o:before {
  content: ""; }

.fa-wifi:before {
  content: ""; }

.fa-calculator:before {
  content: ""; }

.fa-paypal:before {
  content: ""; }

.fa-google-wallet:before {
  content: ""; }

.fa-cc-visa:before {
  content: ""; }

.fa-cc-mastercard:before {
  content: ""; }

.fa-cc-discover:before {
  content: ""; }

.fa-cc-amex:before {
  content: ""; }

.fa-cc-paypal:before {
  content: ""; }

.fa-cc-stripe:before {
  content: ""; }

.fa-bell-slash:before {
  content: ""; }

.fa-bell-slash-o:before {
  content: ""; }

.fa-trash:before {
  content: ""; }

.fa-copyright:before {
  content: ""; }

.fa-at:before {
  content: ""; }

.fa-eyedropper:before {
  content: ""; }

.fa-paint-brush:before {
  content: ""; }

.fa-birthday-cake:before {
  content: ""; }

.fa-area-chart:before {
  content: ""; }

.fa-pie-chart:before {
  content: ""; }

.fa-line-chart:before {
  content: ""; }

.fa-lastfm:before {
  content: ""; }

.fa-lastfm-square:before {
  content: ""; }

.fa-toggle-off:before {
  content: ""; }

.fa-toggle-on:before {
  content: ""; }

.fa-bicycle:before {
  content: ""; }

.fa-bus:before {
  content: ""; }

.fa-ioxhost:before {
  content: ""; }

.fa-angellist:before {
  content: ""; }

.fa-cc:before {
  content: ""; }

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: ""; }

.fa-meanpath:before {
  content: ""; }

.fa-buysellads:before {
  content: ""; }

.fa-connectdevelop:before {
  content: ""; }

.fa-dashcube:before {
  content: ""; }

.fa-forumbee:before {
  content: ""; }

.fa-leanpub:before {
  content: ""; }

.fa-sellsy:before {
  content: ""; }

.fa-shirtsinbulk:before {
  content: ""; }

.fa-simplybuilt:before {
  content: ""; }

.fa-skyatlas:before {
  content: ""; }

.fa-cart-plus:before {
  content: ""; }

.fa-cart-arrow-down:before {
  content: ""; }

.fa-diamond:before {
  content: ""; }

.fa-ship:before {
  content: ""; }

.fa-user-secret:before {
  content: ""; }

.fa-motorcycle:before {
  content: ""; }

.fa-street-view:before {
  content: ""; }

.fa-heartbeat:before {
  content: ""; }

.fa-venus:before {
  content: ""; }

.fa-mars:before {
  content: ""; }

.fa-mercury:before {
  content: ""; }

.fa-intersex:before,
.fa-transgender:before {
  content: ""; }

.fa-transgender-alt:before {
  content: ""; }

.fa-venus-double:before {
  content: ""; }

.fa-mars-double:before {
  content: ""; }

.fa-venus-mars:before {
  content: ""; }

.fa-mars-stroke:before {
  content: ""; }

.fa-mars-stroke-v:before {
  content: ""; }

.fa-mars-stroke-h:before {
  content: ""; }

.fa-neuter:before {
  content: ""; }

.fa-genderless:before {
  content: ""; }

.fa-facebook-official:before {
  content: ""; }

.fa-pinterest-p:before {
  content: ""; }

.fa-whatsapp:before {
  content: ""; }

.fa-server:before {
  content: ""; }

.fa-user-plus:before {
  content: ""; }

.fa-user-times:before {
  content: ""; }

.fa-hotel:before,
.fa-bed:before {
  content: ""; }

.fa-viacoin:before {
  content: ""; }

.fa-train:before {
  content: ""; }

.fa-subway:before {
  content: ""; }

.fa-medium:before {
  content: ""; }

.fa-yc:before,
.fa-y-combinator:before {
  content: ""; }

.fa-optin-monster:before {
  content: ""; }

.fa-opencart:before {
  content: ""; }

.fa-expeditedssl:before {
  content: ""; }

.fa-battery-4:before,
.fa-battery-full:before {
  content: ""; }

.fa-battery-3:before,
.fa-battery-three-quarters:before {
  content: ""; }

.fa-battery-2:before,
.fa-battery-half:before {
  content: ""; }

.fa-battery-1:before,
.fa-battery-quarter:before {
  content: ""; }

.fa-battery-0:before,
.fa-battery-empty:before {
  content: ""; }

.fa-mouse-pointer:before {
  content: ""; }

.fa-i-cursor:before {
  content: ""; }

.fa-object-group:before {
  content: ""; }

.fa-object-ungroup:before {
  content: ""; }

.fa-sticky-note:before {
  content: ""; }

.fa-sticky-note-o:before {
  content: ""; }

.fa-cc-jcb:before {
  content: ""; }

.fa-cc-diners-club:before {
  content: ""; }

.fa-clone:before {
  content: ""; }

.fa-balance-scale:before {
  content: ""; }

.fa-hourglass-o:before {
  content: ""; }

.fa-hourglass-1:before,
.fa-hourglass-start:before {
  content: ""; }

.fa-hourglass-2:before,
.fa-hourglass-half:before {
  content: ""; }

.fa-hourglass-3:before,
.fa-hourglass-end:before {
  content: ""; }

.fa-hourglass:before {
  content: ""; }

.fa-hand-grab-o:before,
.fa-hand-rock-o:before {
  content: ""; }

.fa-hand-stop-o:before,
.fa-hand-paper-o:before {
  content: ""; }

.fa-hand-scissors-o:before {
  content: ""; }

.fa-hand-lizard-o:before {
  content: ""; }

.fa-hand-spock-o:before {
  content: ""; }

.fa-hand-pointer-o:before {
  content: ""; }

.fa-hand-peace-o:before {
  content: ""; }

.fa-trademark:before {
  content: ""; }

.fa-registered:before {
  content: ""; }

.fa-creative-commons:before {
  content: ""; }

.fa-gg:before {
  content: ""; }

.fa-gg-circle:before {
  content: ""; }

.fa-tripadvisor:before {
  content: ""; }

.fa-odnoklassniki:before {
  content: ""; }

.fa-odnoklassniki-square:before {
  content: ""; }

.fa-get-pocket:before {
  content: ""; }

.fa-wikipedia-w:before {
  content: ""; }

.fa-safari:before {
  content: ""; }

.fa-chrome:before {
  content: ""; }

.fa-firefox:before {
  content: ""; }

.fa-opera:before {
  content: ""; }

.fa-internet-explorer:before {
  content: ""; }

.fa-tv:before,
.fa-television:before {
  content: ""; }

.fa-contao:before {
  content: ""; }

.fa-500px:before {
  content: ""; }

.fa-amazon:before {
  content: ""; }

.fa-calendar-plus-o:before {
  content: ""; }

.fa-calendar-minus-o:before {
  content: ""; }

.fa-calendar-times-o:before {
  content: ""; }

.fa-calendar-check-o:before {
  content: ""; }

.fa-industry:before {
  content: ""; }

.fa-map-pin:before {
  content: ""; }

.fa-map-signs:before {
  content: ""; }

.fa-map-o:before {
  content: ""; }

.fa-map:before {
  content: ""; }

.fa-commenting:before {
  content: ""; }

.fa-commenting-o:before {
  content: ""; }

.fa-houzz:before {
  content: ""; }

.fa-vimeo:before {
  content: ""; }

.fa-black-tie:before {
  content: ""; }

.fa-fonticons:before {
  content: ""; }

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "BloggerSans", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #222;
  background-color: #fff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

.container {
  position: relative; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

a {
  color: #0d80e6;
  text-decoration: none; }
  a:hover, a:focus {
    outline: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  font-weight: 400; }

h1 {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 25px; }

h2 {
  color: #52a5bf;
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 36px; } }

p {
  padding: 0;
  margin: 0 0 25px 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 1050px) {
    .container {
      width: 1020px; } }
  @media (min-width: 1050px) {
    .container {
      width: 1020px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -10px;
  margin-right: -10px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.33333%; }

  .col-sm-2 {
    width: 16.66667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.33333%; }

  .col-sm-5 {
    width: 41.66667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.33333%; }

  .col-sm-8 {
    width: 66.66667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.33333%; }

  .col-sm-11 {
    width: 91.66667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.33333%; }

  .col-sm-pull-2 {
    right: 16.66667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.33333%; }

  .col-sm-pull-5 {
    right: 41.66667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.33333%; }

  .col-sm-pull-8 {
    right: 66.66667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.33333%; }

  .col-sm-pull-11 {
    right: 91.66667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.33333%; }

  .col-sm-push-2 {
    left: 16.66667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.33333%; }

  .col-sm-push-5 {
    left: 41.66667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.33333%; }

  .col-sm-push-8 {
    left: 66.66667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.33333%; }

  .col-sm-push-11 {
    left: 91.66667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.33333%; }

  .col-sm-offset-2 {
    margin-left: 16.66667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.33333%; }

  .col-sm-offset-5 {
    margin-left: 41.66667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.33333%; }

  .col-sm-offset-8 {
    margin-left: 66.66667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.33333%; }

  .col-sm-offset-11 {
    margin-left: 91.66667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1050px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.33333%; }

  .col-md-2 {
    width: 16.66667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.33333%; }

  .col-md-5 {
    width: 41.66667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.33333%; }

  .col-md-8 {
    width: 66.66667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.33333%; }

  .col-md-11 {
    width: 91.66667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.33333%; }

  .col-md-pull-2 {
    right: 16.66667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.33333%; }

  .col-md-pull-5 {
    right: 41.66667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.33333%; }

  .col-md-pull-8 {
    right: 66.66667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.33333%; }

  .col-md-pull-11 {
    right: 91.66667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.33333%; }

  .col-md-push-2 {
    left: 16.66667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.33333%; }

  .col-md-push-5 {
    left: 41.66667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.33333%; }

  .col-md-push-8 {
    left: 66.66667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.33333%; }

  .col-md-push-11 {
    left: 91.66667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.33333%; }

  .col-md-offset-2 {
    margin-left: 16.66667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.33333%; }

  .col-md-offset-5 {
    margin-left: 41.66667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.33333%; }

  .col-md-offset-8 {
    margin-left: 66.66667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.33333%; }

  .col-md-offset-11 {
    margin-left: 91.66667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1050px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.33333%; }

  .col-lg-2 {
    width: 16.66667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.33333%; }

  .col-lg-5 {
    width: 41.66667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.33333%; }

  .col-lg-8 {
    width: 66.66667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.33333%; }

  .col-lg-11 {
    width: 91.66667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.33333%; }

  .col-lg-pull-2 {
    right: 16.66667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.33333%; }

  .col-lg-pull-5 {
    right: 41.66667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.33333%; }

  .col-lg-pull-8 {
    right: 66.66667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.33333%; }

  .col-lg-pull-11 {
    right: 91.66667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.33333%; }

  .col-lg-push-2 {
    left: 16.66667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.33333%; }

  .col-lg-push-5 {
    left: 41.66667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.33333%; }

  .col-lg-push-8 {
    left: 66.66667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.33333%; }

  .col-lg-push-11 {
    left: 91.66667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.33333%; }

  .col-lg-offset-2 {
    margin-left: 16.66667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.33333%; }

  .col-lg-offset-5 {
    margin-left: 41.66667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.33333%; }

  .col-lg-offset-8 {
    margin-left: 66.66667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.33333%; }

  .col-lg-offset-11 {
    margin-left: 91.66667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
.btn {
  margin: 0;
  color: #52a5bf;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  line-height: 20px;
  padding: 16px 48px 12px 48px;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  text-transform: uppercase;
  touch-action: manipulation;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  border-radius: 24px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(94, 173, 191, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(94, 173, 191, 0.75); }
  .btn:hover {
    color: #52a5bf;
    background: #d4eef4;
    text-decoration: none; }
  .btn:active {
    background: #fff;
    -webkit-box-shadow: 0px 1px 6px 0px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 1px 6px 0px rgba(255, 255, 255, 0.75); }

.btn-blue {
  color: #fff;
  background: #70c7dc;
  text-shadow: 0px 1px 1px rgba(59, 123, 143, 0.5);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(59, 123, 143, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(59, 123, 143, 0.75); }
  .btn-blue:hover {
    color: #fff;
    background: #63afc2; }
  .btn-blue.active {
    background: #70c7dc; }

.btn-green {
  color: #fff;
  background: #58c7ba;
  text-shadow: 0px 1px 1px rgba(52, 122, 114, 0.5);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(52, 122, 114, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(52, 122, 114, 0.75); }
  .btn-green:hover {
    color: #fff;
    background: #63e0d2; }
  .btn-green.active {
    background: #69f0e0; }

.btn-yellow {
  color: #fff;
  background: #feb166;
  text-shadow: 0px 1px 1px rgba(129, 89, 50, 0.5);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(129, 89, 50, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(129, 89, 50, 0.75); }
  .btn-yellow:hover {
    color: #fff;
    background: #fd9939; }
  .btn-yellow.active {
    background: #fa8f26; }

.btn-rose {
  color: #fff;
  background: #f28b93;
  text-shadow: 0px 1px 1px rgba(133, 74, 79, 0.5);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(133, 74, 79, 0.75);
  box-shadow: 0px 1px 3px 0px rgba(133, 74, 79, 0.75); }
  .btn-rose:hover {
    color: #fff;
    background: #f06f79; }
  .btn-rose.active {
    background: #f55764; }

.form-control {
  margin: 0;
  width: 100%;
  color: #eee;
  outline: none;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 10px;
  display: inline-block;
  background: transparent;
  border: 1px solid #eee; }
  .form-control::-moz-placeholder {
    color: #eee;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #eee; }
  .form-control::-webkit-input-placeholder {
    color: #eee; }
  .form-control::-ms-clear {
    display: none;
    width: 0;
    height: 0; }
  .form-control:focus::-moz-placeholder {
    color: transparent;
    opacity: 1; }
  .form-control:focus:-ms-input-placeholder {
    color: transparent; }
  .form-control:focus::-webkit-input-placeholder {
    color: transparent; }

.red .form-control {
  border-color: #ff0000; }

label {
  font-weight: 400;
  display: block; }

.form-group {
  margin-bottom: 20px; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }
.clearfix:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hide {
  visibility: hidden;
  display: none !important; }

.show {
  visibility: visible;
  display: block !important; }

.invisible {
  visibility: hidden; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

@-ms-viewport {
  width: device-width; }
.visible-xs {
  display: none !important; }

.visible-sm {
  display: none !important; }

.visible-md {
  display: none !important; }

.visible-lg {
  display: none !important; }

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important; }

@media (max-width: 767px) {
  .visible-xs {
    display: block !important; }

  table.visible-xs {
    display: table !important; }

  tr.visible-xs {
    display: table-row !important; }

  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important; } }

@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important; } }

@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important; } }

@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm {
    display: block !important; }

  table.visible-sm {
    display: table !important; }

  tr.visible-sm {
    display: table-row !important; }

  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm-block {
    display: block !important; } }

@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm-inline {
    display: inline !important; } }

@media (min-width: 768px) and (max-width: 1049px) {
  .visible-sm-inline-block {
    display: inline-block !important; } }

@media (min-width: 1050px) and (max-width: 1049px) {
  .visible-md {
    display: block !important; }

  table.visible-md {
    display: table !important; }

  tr.visible-md {
    display: table-row !important; }

  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1050px) and (max-width: 1049px) {
  .visible-md-block {
    display: block !important; } }

@media (min-width: 1050px) and (max-width: 1049px) {
  .visible-md-inline {
    display: inline !important; } }

@media (min-width: 1050px) and (max-width: 1049px) {
  .visible-md-inline-block {
    display: inline-block !important; } }

@media (min-width: 1050px) {
  .visible-lg {
    display: block !important; }

  table.visible-lg {
    display: table !important; }

  tr.visible-lg {
    display: table-row !important; }

  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (min-width: 1050px) {
  .visible-lg-block {
    display: block !important; } }

@media (min-width: 1050px) {
  .visible-lg-inline {
    display: inline !important; } }

@media (min-width: 1050px) {
  .visible-lg-inline-block {
    display: inline-block !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 1049px) {
  .hidden-sm {
    display: none !important; } }
@media (min-width: 1050px) and (max-width: 1049px) {
  .hidden-md {
    display: none !important; } }
@media (min-width: 1050px) {
  .hidden-lg {
    display: none !important; } }
.visible-print {
  display: none !important; }

@media print {
  .visible-print {
    display: block !important; }

  table.visible-print {
    display: table !important; }

  tr.visible-print {
    display: table-row !important; }

  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
.visible-print-block {
  display: none !important; }
  @media print {
    .visible-print-block {
      display: block !important; } }

.visible-print-inline {
  display: none !important; }
  @media print {
    .visible-print-inline {
      display: inline !important; } }

.visible-print-inline-block {
  display: none !important; }
  @media print {
    .visible-print-inline-block {
      display: inline-block !important; } }

@media print {
  .hidden-print {
    display: none !important; } }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.footer-nav {
  background: #f3f3f3; }
  .footer-nav li {
    margin: 0 -10px; }
    .footer-nav li > a {
      width: 100%;
      color: #fff;
      font-size: 21px;
      font-weight: 400;
      line-height: 25px;
      text-align: center;
      padding: 12px 10px 8px 10px;
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      border-bottom: 4px solid transparent;
      text-shadow: 0px 1px 1px rgba(65, 115, 128, 0.4); }
      .footer-nav li > a:hover {
        border-bottom-color: #fff; }
    .footer-nav li.active a {
      border-bottom-color: #fff; }
    .footer-nav li.item1 a {
      background: #6ed1e9; }
    .footer-nav li.item2 a {
      background: #60e8d9; }
    .footer-nav li.item3 a {
      background: #ffb464; }
    .footer-nav li.item4 a {
      background: #ff8152; }
  @media (min-width: 768px) {
    .footer-nav li {
      margin: 0;
      width: 50%;
      float: left; } }
  @media (min-width: 1050px) {
    .footer-nav li {
      width: 25%; } }

.footer {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #6fcce2; }
  .footer .footer-block {
    margin-bottom: 50px; }
  .footer .footer-title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 22px; }
    .footer .footer-title a {
      color: #fff;
      text-decoration: none;
      border-bottom: 1px solid transparent; }
      .footer .footer-title a:hover {
        border-bottom-color: #fff; }
  .footer .footer-news {
    margin: 0;
    padding: 0;
    list-style: none; }
    .footer .footer-news li {
      color: #c2f3ff;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 25px; }
    .footer .footer-news h4 {
      font-size: 21px;
      line-height: 1.2;
      margin-bottom: 15px; }
      .footer .footer-news h4 a {
        color: #fff;
        text-decoration: none;
        text-shadow: 0px 1px 1px rgba(128, 68, 46, 0.4); }
  .footer .footer-article {
    padding: 0;
    list-style: none;
    margin: 0 0 25px 0; }
    .footer .footer-article li {
      font-size: 21px;
      line-height: 30px;
      padding-left: 25px;
      position: relative; }
      .footer .footer-article li:before {
        left: 0;
        top: 4px;
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        background: #dcf2fb;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 1px 1px 0px rgba(65, 115, 128, 0.3);
        box-shadow: 0px 1px 1px 0px rgba(65, 115, 128, 0.3); }
      .footer .footer-article li a {
        color: #fff;
        text-decoration: none; }
        .footer .footer-article li a:hover {
          color: #c2f3ff; }
  .footer .login-text {
    color: #c2f3ff;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px; }
  .footer .second-nav {
    padding: 0;
    list-style: none;
    margin: 0 0 24px 0; }
    .footer .second-nav li {
      font-size: 16px;
      line-height: 24px; }
      .footer .second-nav li a {
        color: #c2f3ff;
        text-decoration: none; }
        .footer .second-nav li a:hover {
          color: #fff; }
  .footer .footer-logo {
    width: 134px;
    display: block;
    margin: 0 auto 28px auto; }
  .footer .footer-copy {
    color: #c2f3ff;
    font-size: 12px;
    line-height: 20px;
    text-align: center; }
  @media (min-width: 768px) {
    .footer .footer-logo {
      float: right;
      width: 236px;
      margin: 55px 0 0 0; }
    .footer .footer-copy {
      float: right;
      font-size: 16px;
      text-align: right;
      margin-top: -45px; } }
  @media (min-width: 1050px) {
    .footer {
      padding-bottom: 25px; }
      .footer .footer-article {
        margin-bottom: 60px; }
      .footer .login-text {
        padding-right: 20px; }
      .footer .footer-logo {
        float: left;
        width: 236px;
        margin: 90px 0 0 0; }
      .footer .footer-copy {
        float: inherit;
        text-align: center;
        margin-top: 0; } }

.topnav {
  background: #6fcce2; }
  .topnav .navbar-header {
    margin: 0 -10px;
    padding: 20px 10px 35px 10px;
    border-bottom: 2px solid #afe6f8; }
    .topnav .navbar-header .logo {
      float: left;
      width: 150px; }
    .topnav .navbar-header .navbar-toggle {
      color: #fff;
      width: 30px;
      float: right;
      cursor: pointer;
      margin-top: 12px;
      background: transparent; }
      .topnav .navbar-header .navbar-toggle img {
        display: intile-block;
        max-width: 100%;
        height: auto; }
  .topnav .navbar {
    font-size: 0;
    display: none;
    line-height: 0;
    margin: 0 -10px;
    text-align: center; }
    .topnav .navbar > li {
      margin: 0;
      width: 100%; }
      .topnav .navbar > li > a {
        width: 100%;
        color: #fff;
        font-size: 21px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        padding: 12px 10px;
        display: inline-block;
        vertical-align: middle;
        text-decoration: none; }
        .topnav .navbar > li > a:hover {
          font-weight: 500; }
      .topnav .navbar > li.active a {
        font-weight: 700; }
      .topnav .navbar > li.item1 a {
        background: #6ed1e9; }
      .topnav .navbar > li.item2 a {
        background: #60e8d9; }
      .topnav .navbar > li.item3 a {
        background: #ffb464; }
      .topnav .navbar > li.item4 a {
        background: #ff8152; }
      .topnav .navbar > li.item5 a {
        background: #de5b53; }
  @media (min-width: 768px) {
    .topnav .navbar-header {
      padding: 17px 10px 40px 10px; }
      .topnav .navbar-header .logo {
        width: 240px; }
      .topnav .navbar-header .navbar-toggle {
        width: 48px; } }
  @media (min-width: 1050px) {
    .topnav {
      border-bottom: 2px solid #ace0f0; }
      .topnav .navbar-header {
        float: left;
        margin: 0;
        border-bottom: none;
        padding: 17px 0 10px 0; }
        .topnav .navbar-header .logo {
          width: 240px; }
        .topnav .navbar-header .navbar-toggle {
          display: none; }
      .topnav .navbar {
        width: 660px;
        float: right;
        display: table;
        margin-right: -10px; }
        .topnav .navbar > li {
          padding: 0 10px;
          text-align: center;
          display: table-cell; }
          .topnav .navbar > li > a {
            color: #c2f3ff;
            padding: 34px 0;
            border-bottom: 3px solid transparent; }
            .topnav .navbar > li > a:hover {
              color: #fff;
              font-weight: 400;
              border-bottom-color: #fff; }
          .topnav .navbar > li.active a {
            color: #fff;
            font-weight: 400;
            border-bottom-color: #fff; }
          .topnav .navbar > li.item1 a, .topnav .navbar > li.item2 a, .topnav .navbar > li.item3 a, .topnav .navbar > li.item4 a, .topnav .navbar > li.item5 a {
            background: transparent; } }

.header {
  color: #fff;
  padding-top: 45px;
  padding-bottom: 100px;
  background: #70c7dc url("../img/header_bottom.png") 50% 100% no-repeat;
  background-size: 100% auto; }
  .header .header-top > li {
    margin-bottom: 25px; }
  .header .text {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 12px;
    text-transform: uppercase; }
  .header .btn {
    margin-bottom: 35px; }
  .header .header-slider {
    max-width: 410px;
    margin: 0 auto;
    padding-bottom: 35px; }
    .header .header-slider .header-slider-item {
      outline: none; }
    .header .header-slider .slick-dots {
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0;
      padding: 0;
      font-size: 0;
      line-height: 0;
      list-style: none;
      text-align: center;
      position: absolute; }
      .header .header-slider .slick-dots li {
        margin: 0 4px;
        display: inline-block; }
        .header .header-slider .slick-dots li button {
          width: 16px;
          height: 16px;
          outline: none;
          cursor: pointer;
          display: inline-block;
          border: 1px solid #fff;
          background: transparent;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
        .header .header-slider .slick-dots li.slick-active button {
          background: #fff; }
  .header .header-bottom {
    display: none;
    margin: 0 -10px; }
  @media (min-width: 768px) {
    .header {
      padding-bottom: 200px; }
      .header .btn {
        margin-bottom: 0; } }
  @media (min-width: 1050px) {
    .header {
      padding-bottom: 310px; }
      .header .header-top {
        margin: 0 -10px; }
        .header .header-top > li {
          width: 50%;
          float: left;
          padding: 0 10px; }
          .header .header-top > li:first-child {
            float: right; }
          .header .header-top > li:last-child {
            float: left; }
      .header .header-slider {
        margin: 0; }
      .header .header-bottom {
        display: none; } }

.b01 {
  padding-top: 25px;
  padding-bottom: 50px; }
  .b01 .rows {
    padding: 0;
    width: 100%;
    margin: 0;
    list-style: none; }
    .b01 .rows li {
      width: 100%;
      padding: 0 10px;
      position: relative; }
      .b01 .rows li:first-child {
        display: table-footer-group; }
      .b01 .rows li:last-child {
        display: table-header-group; }
  .b01 h2 {
    font-size: 30px;
    text-align: center; }
  .b01 .text {
    max-width: 310px;
    margin-bottom: 25px; }
  .b01 .image-box {
    max-width: 474px;
    margin: 0 auto 20px auto; }
  .b01 .btn-box {
    text-align: center; }
  @media (min-width: 768px) {
    .b01 {
      padding-top: 70px;
      padding-bottom: 0; }
      .b01 .rows {
        display: block; }
        .b01 .rows li {
          width: 100%;
          padding: 0 10px; }
          .b01 .rows li:first-child {
            z-index: 50;
            display: block; }
          .b01 .rows li:last-child {
            z-index: 10;
            display: block;
            margin-bottom: 0;
            margin-top: -56px; }
      .b01 h2 {
        font-size: 30px;
        text-align: left; }
      .b01 .image-box {
        float: right;
        margin-bottom: 0; }
      .b01 .btn-box {
        text-align: left; } }
  @media (min-width: 1050px) {
    .b01 {
      padding-top: 100px; }
      .b01 .rows {
        margin: 0 -10px; }
        .b01 .rows li {
          width: 50%;
          float: left;
          padding: 0 10px; }
          .b01 .rows li:last-child {
            margin-top: -66px; } }

.b02 {
  padding-top: 50px;
  padding-bottom: 30px;
  background: #f1ffff; }
  .b02 .rows {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    list-style: none; }
    .b02 .rows > li:first-child {
      display: table-footer-group; }
    .b02 .rows > li:last-child {
      display: table-header-group; }
  .b02 .img-box {
    max-width: 320px;
    margin: 0 auto 30px auto; }
  .b02 .advantage {
    padding: 0;
    margin: 0 -10px;
    list-style: none; }
    .b02 .advantage li {
      color: #414a61;
      padding: 0 10px 0 94px;
      min-height: 50px;
      position: relative;
      margin-bottom: 25px; }
      .b02 .advantage li.item1 {
        background: url("../img/b02_item1.png") 10px 0 no-repeat; }
      .b02 .advantage li.item2 {
        background: url("../img/b02_item2.png") 10px 0 no-repeat; }
      .b02 .advantage li.item3 {
        background: url("../img/b02_item3.png") 10px 0 no-repeat; }
      .b02 .advantage li.item4 {
        background: url("../img/b02_item4.png") 10px 0 no-repeat; }
      .b02 .advantage li.item5 {
        background: url("../img/b02_item5.png") 10px 0 no-repeat; }
      .b02 .advantage li.item6 {
        background: url("../img/b02_item6.png") 10px 0 no-repeat; }
  @media (min-width: 768px) {
    .b02 h2 {
      margin-bottom: 40px; }
    .b02 .img-box {
      margin-bottom: 40px; }
    .b02 .advantage li {
      width: 50%;
      float: left; } }
  @media (min-width: 1050px) {
    .b02 {
      padding-bottom: 290px;
      background: #f1ffff url("../img/b02_bottom.png") 50% 100% no-repeat; }
      .b02 .rows {
        display: block; }
        .b02 .rows > li:first-child {
          float: left;
          width: 610px;
          display: block; }
        .b02 .rows > li:last-child {
          width: 320px;
          float: right;
          display: block; }
      .b02 h2 {
        margin-bottom: 60px; }
      .b02 .img-box {
        margin-bottom: 0; } }

.b03 {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #52a5bf;
  background: -moz-linear-gradient(left, #52a5bf 0%, #f48f97 100%);
  background: -webkit-linear-gradient(left, #52a5bf 0%, #f48f97 100%);
  background: linear-gradient(to right, #52a5bf 0%, #f48f97 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a5bf', endColorstr='#f48f97',GradientType=1 ); }
  .b03 h2 {
    color: #fff; }
  .b03 .img-box {
    max-width: 510px;
    margin: 0 auto 10px auto; }
  .b03 .function {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    list-style: none; }
    .b03 .function li {
      min-height: 35px;
      margin-bottom: 30px;
      padding: 0 10px 0 60px; }
      .b03 .function li.item1 {
        background: url("../img/b03_item1.png") 10px 0 no-repeat; }
      .b03 .function li.item2 {
        background: url("../img/b03_item2.png") 10px 0 no-repeat; }
      .b03 .function li.item3 {
        background: url("../img/b03_item3.png") 10px 0 no-repeat; }
      .b03 .function li.item4 {
        background: url("../img/b03_item4.png") 10px 0 no-repeat; }
      .b03 .function li.item5 {
        background: url("../img/b03_item5.png") 10px 0 no-repeat; }
      .b03 .function li.item6 {
        background: url("../img/b03_item6.png") 10px 0 no-repeat; }
  @media (min-width: 768px) {
    .b03 {
      padding-top: 45px;
      padding-bottom: 0; }
      .b03 .function li {
        width: 50%;
        float: left; } }
  @media (min-width: 1050px) {
    .b03 {
      padding-top: 60px;
      padding-bottom: 130px; }
      .b03 h2 {
        margin-bottom: 77px; }
      .b03 .img-box {
        margin: 0 -10px 0 -10px; }
      .b03 .function {
        margin: 0 -10px;
        padding-top: 30px; } }

.b04 {
  padding-top: 45px;
  background: #f1ffff;
  padding-bottom: 54px; }
  .b04 h2 {
    margin-bottom: 30px; }
  .b04 .step {
    padding: 0;
    margin: 0 auto;
    width: 220px;
    list-style: none; }
    .b04 .step li {
      text-align: center;
      position: relative;
      padding: 95px 0 95px 0; }
      .b04 .step li:before {
        left: 50%;
        bottom: 29px;
        content: '';
        width: 22px;
        height: 44px;
        margin-left: -11px;
        position: absolute;
        background: url("../img/b04_arrow.png") 0 0 no-repeat; }
      .b04 .step li.item1 {
        background: url("../img/b04_item1.png") 50% 10px no-repeat; }
      .b04 .step li.item2 {
        background: url("../img/b04_item2.png") 50% 10px no-repeat; }
      .b04 .step li.item3 {
        padding-bottom: 0;
        background: url("../img/b04_item3.png") 50% 0 no-repeat; }
        .b04 .step li.item3:before {
          display: none; }
    .b04 .step .step-title {
      color: #52a5bf;
      font-weight: 500;
      font-size: 24px;
      line-height: 26px;
      margin-bottom: 35px; }
  @media (min-width: 1050px) {
    .b04 {
      padding-top: 60px;
      padding-bottom: 60px; }
      .b04 .step {
        width: 100%; }
        .b04 .step li {
          float: left;
          width: 220px;
          padding: 95px 0 0 0; }
          .b04 .step li:before {
            top: 43px;
            right: 0;
            left: auto;
            bottom: auto;
            content: '';
            width: 44px;
            height: 22px;
            margin-left: 0;
            position: absolute;
            background: url("../img/b04_arrow-md.png") 0 0 no-repeat; }
          .b04 .step li.item1 {
            margin-right: 160px; }
            .b04 .step li.item1:before {
              right: -85px; }
          .b04 .step li.item2:before {
            right: -85px; }
          .b04 .step li.item3 {
            float: right; }
      .b04 .step-title {
        min-height: 52px;
        color: #52a5bf;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 35px; } }

.b05 {
  background: #fff;
  padding-top: 45px;
  padding-bottom: 35px; }
  .b05 .test-inner {
    width: 240px;
    margin: 0 auto; }
  .b05 .test {
    overflow: hidden;
    text-align: center;
    margin-bottom: 25px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px; }
    .b05 .test .test-title {
      color: #fff;
      font-size: 24px;
      line-height: 32px;
      padding: 20px 10px; }
    .b05 .test ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .b05 .test ul li {
        font-size: 16px;
        line-height: 24px;
        padding: 12px 10px 11px 12px;
        border-bottom: 1px solid transparent; }
    .b05 .test .test-price {
      padding-top: 20px;
      padding-bottom: 12px; }
      .b05 .test .test-price strong {
        display: block;
        font-size: 60px;
        font-weight: 700;
        line-height: 60px; }
      .b05 .test .test-price span {
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px; }
    .b05 .test .test-bottom {
      padding-top: 28px;
      padding-bottom: 34px;
      border-top: 1px solid transparent; }
    .b05 .test.test-blue {
      background: #cbf1ff; }
      .b05 .test.test-blue .test-title {
        background: #6fcce2; }
      .b05 .test.test-blue ul li {
        border-bottom-color: #6fcce2; }
      .b05 .test.test-blue .test-price {
        color: #6fcce2; }
      .b05 .test.test-blue .test-bottom {
        background: #95dced;
        border-top-color: #6fcce2; }
    .b05 .test.test-green {
      background: #cbfff3; }
      .b05 .test.test-green .test-title {
        background: #62e1d3; }
      .b05 .test.test-green ul li {
        border-bottom-color: #62e1d3; }
      .b05 .test.test-green .test-price {
        color: #64dbce; }
      .b05 .test.test-green .test-bottom {
        background: #62e1d3;
        border-top-color: #62e1d3; }
    .b05 .test.test-yellow {
      background: #ffe5cb; }
      .b05 .test.test-yellow .test-title {
        background: #feb166; }
      .b05 .test.test-yellow ul li {
        border-bottom-color: #feb166; }
      .b05 .test.test-yellow .test-price {
        color: #feb166; }
      .b05 .test.test-yellow .test-bottom {
        background: #fac996;
        border-top-color: #feb166; }
    .b05 .test.test-rose {
      background: #ffd5d9; }
      .b05 .test.test-rose .test-title {
        background: #f28b93 url("../img/icon-moneybox.png") 50% 26px no-repeat;
        padding-top: 92px; }
        .b05 .test.test-rose .test-title strong {
          display: block; }
      .b05 .test.test-rose ul li {
        border-bottom-color: #f28b93; }
      .b05 .test.test-rose .test-price {
        color: #f28b93; }
      .b05 .test.test-rose .test-bottom {
        background: #f2aeb5;
        border-top-color: #f28b93; }
  @media (min-width: 768px) {
    .b05 .test-inner {
      width: 490px; } }
  @media (min-width: 1050px) {
    .b05 {
      padding-top: 60px;
      padding-bottom: 50px; }
      .b05 h2 {
        margin-bottom: 70px; }
      .b05 .test-inner {
        width: 100%; } }

.b06 {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f8f8f8; }
  .b06 .why li {
    color: #414a61;
    margin-bottom: 20px;
    text-align: center;
    padding: 90px 10px 0 10px; }
    .b06 .why li strong {
      color: #70c7dc;
      display: block;
      font-size: 30px;
      font-weight: 700;
      line-height: 36px; }
    .b06 .why li.item1 {
      background: url("../img/b06_item1.png") 50% 0 no-repeat; }
      .b06 .why li.item1 strong {
        color: #52a5bf;
        font-size: 36px; }
    .b06 .why li.item3 {
      background: url("../img/b06_item2.png") 50% 0 no-repeat; }
    .b06 .why li.item2 {
      background: url("../img/b06_item3.png") 50% 0 no-repeat; }
  @media (min-width: 768px) {
    .b06 {
      padding-top: 60px;
      padding-bottom: 50px; }
      .b06 .why li {
        float: left;
        width: 33.33%; } }

.b07 {
  color: #fff;
  padding-top: 45px;
  padding-bottom: 45px;
  background: url("../img/b07_bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .b07 h2 {
    color: #fff; }
  .b07 .help {
    padding: 0;
    margin: 0 auto;
    max-width: 530px;
    list-style: none; }
    .b07 .help li {
      font-size: 16px;
      line-height: 20px;
      position: relative;
      padding-left: 55px;
      padding-top: 10px;
      min-height: 40px;
      margin-bottom: 10px;
      text-shadow: 0px 1px 1px rgba(63, 111, 127, 0.65); }
      .b07 .help li.item1 {
        background: url("../img/b07_item1.png") 0 0 no-repeat; }
      .b07 .help li.item2 {
        background: url("../img/b07_item2.png") 0 0 no-repeat; }
      .b07 .help li.item3 {
        background: url("../img/b07_item3.png") 0 0 no-repeat; }
      .b07 .help li.item4 {
        background: url("../img/b07_item4.png") 0 0 no-repeat; }
      .b07 .help li.item5 {
        background: url("../img/b07_item5.png") 0 0 no-repeat; }
      .b07 .help li.item6 {
        background: url("../img/b07_item6.png") 0 0 no-repeat; }
  @media (min-width: 768px) {
    .b07 h2 {
      margin-bottom: 35px; }
      .b07 h2 span {
        display: block; }
    .b07 .help li {
      font-size: 24px;
      line-height: 30px;
      min-height: inherit;
      margin-bottom: 0;
      padding-bottom: 20px; } }
  @media (min-width: 1050px) {
    .b07 {
      padding-top: 70px;
      padding-bottom: 130px; }
      .b07 h2 {
        margin-bottom: 90px; }
      .b07 .help li {
        padding-bottom: 55px; } }

.b08 {
  background: #fff;
  padding-top: 45px;
  padding-bottom: 45px; }
  .b08 .rows {
    width: 100%;
    display: table; }
    .b08 .rows > li {
      width: 100%; }
      .b08 .rows > li:first-child {
        display: table-footer-group; }
      .b08 .rows > li:last-child {
        display: table-header-group; }
  .b08 .video-review {
    max-width: 450px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(148, 149, 149, 0.5);
    box-shadow: 0px 3px 15px 0px rgba(148, 149, 149, 0.5); }
    .b08 .video-review span {
      top: 50%;
      left: 50%;
      content: '';
      width: 46px;
      height: 46px;
      display: block;
      margin-top: -23px;
      margin-left: -23px;
      position: absolute; }
  .b08 .review {
    width: 260px;
    position: relative;
    margin: 0 auto 45px auto;
    padding: 45px 22px 0 22px; }
    .b08 .review:after, .b08 .review:before {
      z-index: 100;
      color: #3d465f;
      font-size: 21px;
      line-height: 21px;
      position: absolute;
      font-family: FontAwesome; }
    .b08 .review:after {
      top: 0;
      left: 0;
      content: ""; }
    .b08 .review:before {
      right: 0;
      bottom: 72px;
      content: "\f10e"; }
    .b08 .review .review-item {
      border: none;
      outline: none;
      font-size: 14px;
      line-height: 24px; }
    .b08 .review .review-text {
      color: #414a61;
      margin-bottom: 75px; }
    .b08 .review .review-author {
      color: #52a5bf;
      text-align: right;
      font-style: italic; }
      .b08 .review .review-author span {
        display: block; }
      .b08 .review .review-author a {
        color: #52a5bf;
        text-decoration: none; }
    .b08 .review .review-nav {
      top: 90px;
      width: 12px;
      height: 24px;
      z-index: 500;
      cursor: pointer;
      position: absolute;
      display: inline-block;
      background: url("../img/review-nav.png") no-repeat; }
      .b08 .review .review-nav.prev {
        left: 0;
        background-position: 0 0; }
      .b08 .review .review-nav.next {
        right: 0;
        background-position: -12px 0; }
  @media (min-width: 768px) {
    .b08 .video-review span {
      width: 80px;
      height: 80px;
      margin-top: -40px;
      margin-left: -40px; }
    .b08 .review {
      width: 500px;
      padding-left: 80px;
      padding-right: 80px; }
      .b08 .review .review-item {
        font-size: 16px; } }
  @media (min-width: 1050px) {
    .b08 {
      padding-top: 70px;
      padding-bottom: 90px; }
      .b08 .rows {
        margin: 0 -10px;
        display: block; }
        .b08 .rows > li {
          width: 50%;
          float: left;
          padding: 0 10px; }
          .b08 .rows > li:first-child {
            display: block; }
          .b08 .rows > li:last-child {
            display: block; }
      .b08 .video-review {
        width: 450px;
        margin: 40px 0 0 0; }
        .b08 .video-review span {
          width: 90px;
          height: 90px;
          margin-top: -45px;
          margin-left: -45px; }
      .b08 .review {
        width: auto;
        margin-bottom: 0;
        padding-left: 85px;
        padding-right: 85px; }
        .b08 .review .review-item {
          font-size: 16px; } }

/*# sourceMappingURL=main.css.map */
