.b03 {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;

    background: #52a5bf;
    background: -moz-linear-gradient(left,  #52a5bf 0%, #f48f97 100%);
    background: -webkit-linear-gradient(left,  #52a5bf 0%,#f48f97 100%);
    background: linear-gradient(to right,  #52a5bf 0%,#f48f97 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52a5bf', endColorstr='#f48f97',GradientType=1 );

    h2 {
        color: #fff;
    }

    .img-box {
        max-width: 510px;
        margin: 0 auto 10px auto;
    }

    .function {
        max-width: 600px;
        margin: 0 auto;
        padding: 0;
        list-style: none;

        li {
            min-height: 35px;
            margin-bottom: 30px;
            padding: 0 10px 0 60px;

            &.item1 {
                background: url("../img/b03_item1.png") 10px 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b03_item2.png") 10px 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b03_item3.png") 10px 0 no-repeat;
            }

            &.item4 {
                background: url("../img/b03_item4.png") 10px 0 no-repeat;
            }

            &.item5 {
                background: url("../img/b03_item5.png") 10px 0 no-repeat;
            }

            &.item6 {
                background: url("../img/b03_item6.png") 10px 0 no-repeat;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        padding-top: 45px;
        padding-bottom: 0;

        .img-box {
        }

        .function {

            li {
                width: 50%;
                float: left;
            }
        }
    }


    @media (min-width: $screen-md-min) {

        padding-top: 60px;
        padding-bottom: 130px;

        h2 {
            margin-bottom: 77px;
        }

        .img-box {
            margin: 0 -10px 0 -10px;
        }

        .function {
            margin: 0 -10px;
            padding-top: 30px;
        }
    }
}