.b07 {
    color: #fff;
    padding-top: 45px;
    padding-bottom: 45px;
    background: url("../img/b07_bg.jpg") 50% 50% no-repeat;
    background-size: cover;

    h2 {
        color: #fff;
    }

    .help {
        padding: 0;
        margin: 0 auto;
        max-width: 530px;
        list-style: none;

        li {
            font-size: 16px;
            line-height: 20px;
            position: relative;
            padding-left: 55px;
            padding-top: 10px;
            min-height: 40px;
            margin-bottom: 10px;
            text-shadow: 0px 1px 1px rgba(63, 111, 127, 0.65);

            &.item1 {
                background: url("../img/b07_item1.png") 0 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b07_item2.png") 0 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b07_item3.png") 0 0 no-repeat;
            }

            &.item4 {
                background: url("../img/b07_item4.png") 0 0 no-repeat;
            }

            &.item5 {
                background: url("../img/b07_item5.png") 0 0 no-repeat;
            }

            &.item6 {
                background: url("../img/b07_item6.png") 0 0 no-repeat;
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        h2 {
            margin-bottom: 35px;

            span {
                display: block;
            }
        }

        .help {

            li {
                font-size: 24px;
                line-height: 30px;
                min-height: inherit;
                margin-bottom: 0;
                padding-bottom: 20px;
            }
        }
    }


    @media (min-width: $screen-md-min) {
        padding-top: 70px;
        padding-bottom: 130px;

        h2 {
            margin-bottom: 90px;
        }

        .help {

            li {
                padding-bottom: 55px;
            }
        }
    }
}