.b06 {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #f8f8f8;

    h2 {

    }

    .why {

        li {
            color: #414a61;
            margin-bottom: 20px;
            text-align: center;
            padding: 90px 10px 0 10px;

            strong {
                color: #70c7dc;
                display: block;
                font-size: 30px;
                font-weight: 700;
                line-height: 36px;
            }

            &.item1 {
                background: url("../img/b06_item1.png") 50% 0 no-repeat;

                strong {
                    color: #52a5bf;
                    font-size: 36px;
                }
            }

            &.item3 {
                background: url("../img/b06_item2.png") 50% 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b06_item3.png") 50% 0 no-repeat;
            }
        }
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 60px;
        padding-bottom: 50px;

        .why {

            li {
                float: left;
                width: 33.33%;
            }
        }
    }
}