.b01 {
    padding-top: 25px;
    padding-bottom: 50px;

    .rows {
        padding: 0;
        width: 100%;
        margin: 0;
        list-style: none;

        li {
            width: 100%;
            padding: 0 10px;
            position: relative;

            &:first-child {
                display: table-footer-group;
            }

            &:last-child {
                display: table-header-group;
            }
        }
    }

    h2 {
        font-size: 30px;
        text-align: center;
    }

    .text {
        max-width: 310px;
        margin-bottom: 25px;
    }

    .image-box {
        max-width: 474px;
        margin: 0 auto 20px auto;
    }

    .btn-box {
        text-align: center;
    }

    @media (min-width: $screen-sm-min) {
        padding-top: 70px;
        padding-bottom: 0;

        .rows {
            display: block;

            li {
                width: 100%;
                padding: 0 10px;

                &:first-child {
                    z-index: 50;
                    display: block;
                }

                &:last-child {
                    z-index: 10;
                    display: block;
                    margin-bottom: 0;
                    margin-top: -56px;
                }
            }
        }

        h2 {
            font-size: 30px;
            text-align: left;
        }

        .image-box {
            float: right;
            margin-bottom: 0;
        }

        .btn-box {
            text-align: left;
        }
    }

    @media (min-width: $screen-md-min) {
        padding-top: 100px;

        .rows {
            margin: 0 -10px;

            li {
                width: 50%;
                float: left;
                padding: 0 10px;

                &:last-child {
                    margin-top: -66px;
                }
            }
        }
    }
}

