.b02 {
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f1ffff;

    .rows {
        margin: 0;
        padding: 0;
        width: 100%;
        display: table;
        list-style: none;

        > li {

            &:first-child {
                display: table-footer-group;
            }

            &:last-child {
                display: table-header-group;
            }
        }
    }

    .img-box {
        max-width: 320px;
        margin: 0 auto 30px auto;
    }

    .advantage {
        padding: 0;
        margin: 0 -10px;
        list-style: none;

        li {
            color: #414a61;
            padding: 0 10px 0 94px;
            min-height: 50px;
            position: relative;
            margin-bottom: 25px;

            &.item1 {
                background: url("../img/b02_item1.png") 10px 0 no-repeat;
            }

            &.item2 {
                background: url("../img/b02_item2.png") 10px 0 no-repeat;
            }

            &.item3 {
                background: url("../img/b02_item3.png") 10px 0 no-repeat;
            }

            &.item4 {
                background: url("../img/b02_item4.png") 10px 0 no-repeat;
            }

            &.item5 {
                background: url("../img/b02_item5.png") 10px 0 no-repeat;
            }

            &.item6 {
                background: url("../img/b02_item6.png") 10px 0 no-repeat;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        h2 {
            margin-bottom: 40px;
        }

        .img-box {
            margin-bottom: 40px;
        }

        .advantage {

            li {
                width: 50%;
                float: left;
            }
        }
    }

    @media (min-width: $screen-md-min) {
        padding-bottom: 290px;
        background: #f1ffff url("../img/b02_bottom.png") 50% 100% no-repeat;

        .rows {
            display: block;

            > li {


                &:first-child {
                    float: left;
                    width: 610px;
                    display: block;
                }

                &:last-child {
                    width: 320px;
                    float: right;
                    display: block;
                }
            }
        }

        h2 {
            margin-bottom: 60px;
        }

        .img-box {
            margin-bottom: 0;
        }
    }
}