.b08 {
    background: #fff;
    padding-top: 45px;
    padding-bottom: 45px;

    .rows {
        width: 100%;
        display: table;

        > li {
            width: 100%;

            &:first-child {
                display: table-footer-group;
            }

            &:last-child {
                display: table-header-group;
            }
        }
    }

    h2 {

    }

    .video-review {
        max-width: 450px;
        margin: 0 auto;
        display: block;
        cursor: pointer;
        position: relative;
        @include box-shadow(0px 3px 15px 0px rgba(148, 149, 149, 0.5));

        span {
            top: 50%;
            left: 50%;
            content: '';
            width: 46px;
            height: 46px;
            display: block;
            margin-top: -23px;
            margin-left: -23px;
            position: absolute;
        }
    }

    .review {
        width: 260px;
        position: relative;
        margin: 0 auto 45px auto;
        padding: 45px 22px 0 22px;

        &:after,
        &:before {
            z-index: 100;
            color: #3d465f;
            font-size: 21px;
            line-height: 21px;
            position: absolute;
            font-family: FontAwesome;
        }

        &:after {
            top: 0;
            left: 0;
            content: "\f10d"
        }

        &:before {
            right: 0;
            bottom: 72px;
            content: "\f10e";
        }

        .review-item {
            border: none;
            outline: none;
            font-size: 14px;
            line-height: 24px;
        }

        .review-text {
            color: #414a61;
            margin-bottom: 75px;
        }

        .review-author {
            color: #52a5bf;
            text-align: right;

            font-style: italic;

            span {
                display: block;
            }

            a {
                color: #52a5bf;
                text-decoration: none;
            }
        }

        .review-nav {
            top: 90px;
            width: 12px;
            height: 24px;
            z-index: 500;
            cursor: pointer;
            position: absolute;
            display: inline-block;
            background: url("../img/review-nav.png") no-repeat;

            &.prev {
                left: 0;
                background-position: 0 0;
            }

            &.next {
                right: 0;
                background-position: -12px 0;
            }
        }
    }


    @media (min-width: $screen-sm-min) {

        .video-review {

            span {
                width: 80px;
                height: 80px;
                margin-top: -40px;
                margin-left: -40px;
            }
        }

        .review {
            width: 500px;
            padding-left: 80px;
            padding-right: 80px;

            .review-author {
            }

            .review-item {
                font-size: 16px;
            }
        }
    }


    @media (min-width: $screen-md-min) {

        padding-top: 70px;
        padding-bottom: 90px;

        .rows {
            margin: 0 -10px;
            display: block;

            > li {
                width: 50%;
                float: left;
                padding: 0 10px;

                &:first-child {
                    display: block;
                }

                &:last-child {
                    display: block;
                }
            }
        }

        .video-review {
            width: 450px;
            margin: 40px 0 0 0;

            span {
                width: 90px;
                height: 90px;
                margin-top: -45px;
                margin-left: -45px;
            }
        }

        .review {
            width: auto;
            margin-bottom: 0;
            padding-left: 85px;
            padding-right: 85px;

            .review-author {
            }

            .review-item {
                font-size: 16px;
            }
        }
    }
}