.b05 {
    background: #fff;
    padding-top: 45px;
    padding-bottom: 35px;

    h2 {

    }

    .test-inner {
        width: 240px;
        margin: 0 auto;
    }

    .test {
        overflow: hidden;
        text-align: center;
        margin-bottom: 25px;
        @include border-radius(8px);

        .test-title {
            color: #fff;
            font-size: 24px;
            line-height: 32px;
            padding: 20px 10px;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                font-size: 16px;
                line-height: 24px;
                padding: 12px 10px 11px 12px;
                border-bottom: 1px solid transparent;
            }
        }

        .test-price {
            padding-top: 20px;
            padding-bottom: 12px;

            strong {
                display: block;
                font-size: 60px;
                font-weight: 700;
                line-height: 60px;
            }

            span {
                display: block;
                font-size: 18px;
                font-weight: 500;
                line-height: 24px;
            }
        }

        .test-bottom {
            padding-top: 28px;
            padding-bottom: 34px;
            border-top: 1px solid transparent;
        }

        &.test-blue {
            background: #cbf1ff;

            .test-title {
                background: #6fcce2;
            }

            ul {

                li {
                    border-bottom-color: #6fcce2;
                }
            }

            .test-price {
                color: #6fcce2;
            }

            .test-bottom {
                background: #95dced;
                border-top-color: #6fcce2;
            }
        }


        &.test-green {
            background: #cbfff3;

            .test-title {
                background: #62e1d3;
            }

            ul {

                li {
                    border-bottom-color: #62e1d3;
                }
            }

            .test-price {
                color: #64dbce;
            }

            .test-bottom {
                background: #62e1d3;
                border-top-color: #62e1d3;
            }
        }

        &.test-yellow {
            background: #ffe5cb;

            .test-title {
                background: #feb166;
            }

            ul {

                li {
                    border-bottom-color: #feb166;
                }
            }

            .test-price {
                color: #feb166;
            }

            .test-bottom {
                background: #fac996;
                border-top-color: #feb166;
            }
        }

        &.test-rose {
            background: #ffd5d9;

            .test-title {
                background: #f28b93 url("../img/icon-moneybox.png") 50% 26px no-repeat;
                padding-top: 92px;

                strong {
                    display: block;
                }
            }

            ul {

                li {
                    border-bottom-color: #f28b93;
                }
            }

            .test-price {
                color: #f28b93;
            }

            .test-bottom {
                background: #f2aeb5;
                border-top-color: #f28b93;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .test-inner {
            width: 490px;
        }
    }

    @media (min-width: $screen-md-min) {

        padding-top: 60px;
        padding-bottom: 50px;

        h2 {
            margin-bottom: 70px;
        }

        .test-inner {
            width: 100%;
        }
    }
}