.b04 {
    padding-top: 45px;
    background: #f1ffff;
    padding-bottom: 54px;

    h2 {
        margin-bottom: 30px;
    }

    .step {
        padding: 0;
        margin: 0 auto;
        width: 220px;
        list-style: none;

        li {
            text-align: center;
            position: relative;
            padding: 95px 0 95px 0;

            &:before {
                left: 50%;
                bottom: 29px;
                content: '';
                width: 22px;
                height: 44px;
                margin-left: -11px;
                position: absolute;
                background: url("../img/b04_arrow.png") 0 0 no-repeat;
            }

            &.item1 {
                background: url("../img/b04_item1.png") 50% 10px no-repeat;
            }

            &.item2 {
                background: url("../img/b04_item2.png") 50% 10px no-repeat;
            }

            &.item3 {
                padding-bottom: 0;
                background: url("../img/b04_item3.png") 50% 0 no-repeat;

                &:before {
                    display: none;
                }
            }
        }

        .step-title {
            color: #52a5bf;
            font-weight: 500;
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 35px;
        }
    }

    @media (min-width: $screen-md-min) {

        padding-top: 60px;
        padding-bottom: 60px;

        .step {
            width: 100%;

            li {
                float: left;
                width: 220px;
                padding: 95px 0 0 0;

                &:before {
                    top: 43px;
                    right: 0;
                    left: auto;
                    bottom: auto;
                    content: '';
                    width: 44px;
                    height: 22px;
                    margin-left: 0;
                    position: absolute;
                    background: url("../img/b04_arrow-md.png") 0 0 no-repeat;
                }


                &.item1 {
                    margin-right: 160px;

                    &:before {
                        right: -85px;
                    }
                }


                &.item2 {

                    &:before {
                        right: -85px;
                    }
                }

                &.item3 {
                    float: right;
                }
            }
        }

        .step-title {
            min-height: 52px;
            color: #52a5bf;
            font-weight: 500;
            font-size: 24px;
            line-height: 26px;
            margin-bottom: 35px;
        }
    }
}