/* Webfont: BloggerSans-Light */@font-face {
    font-family: 'BloggerSans';
    src: url('../fonts/BloggerSans/BloggerSans-Light.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BloggerSans/BloggerSans-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BloggerSans/BloggerSans-Light.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BloggerSans/BloggerSans-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/BloggerSans/BloggerSans-Light.svg#BloggerSans-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

/* Webfont: BloggerSans */@font-face {
    font-family: 'BloggerSans';
    src: url('../fonts/BloggerSans/BloggerSans.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BloggerSans/BloggerSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BloggerSans/BloggerSans.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BloggerSans/BloggerSans.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/BloggerSans/BloggerSans.svg#BloggerSans') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/* Webfont: BloggerSans-Medium */@font-face {
    font-family: 'BloggerSans';
    src: url('../fonts/BloggerSans/BloggerSans-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BloggerSans/BloggerSans-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BloggerSans/BloggerSans-Medium.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BloggerSans/BloggerSans-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/BloggerSans/BloggerSans-Medium.svg#BloggerSans-Medium') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}



/* Webfont: BloggerSans-Bold */@font-face {
    font-family: 'BloggerSans';
    src: url('../fonts/BloggerSans/BloggerSans-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/BloggerSans/BloggerSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/BloggerSans/BloggerSans-Bold.woff') format('woff'), /* Modern Browsers */
    url('../fonts/BloggerSans/BloggerSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/BloggerSans/BloggerSans-Bold.svg#BloggerSans-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}


