.footer-nav {
    background: #f3f3f3;

    li {
        margin: 0 -10px;

        > a {
            width: 100%;
            color: #fff;
            font-size: 21px;
            font-weight: 400;
            line-height: 25px;
            text-align: center;
            padding: 12px 10px 8px 10px;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            border-bottom: 4px solid transparent;
            text-shadow: 0px 1px 1px rgba(65, 115, 128, 0.4);

            &:hover {
               border-bottom-color: #fff;
            }
        }

        &.active {

            a {
                border-bottom-color: #fff;
            }
        }

        &.item1 {

            a {
                background: #6ed1e9;
            }
        }

        &.item2 {

            a {
                background: #60e8d9;
            }
        }

        &.item3 {

            a {
                background: #ffb464;
            }
        }

        &.item4 {

            a {
                background: #ff8152;
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        li {
            margin: 0;
            width: 50%;
            float: left;
        }
    }

    @media (min-width: $screen-md-min) {

        li {
            width: 25%;
        }
    }
}

.footer {
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #6fcce2;

    .footer-block {
        margin-bottom: 50px;
    }

    .footer-title {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 22px;

        a {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid transparent;

            &:hover {
                border-bottom-color: #fff;
            }
        }
    }

    .footer-news {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            color: #c2f3ff;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 25px;
        }


        h4 {
            font-size: 21px;
            line-height: 1.2;
            margin-bottom: 15px;

            a {
                color: #fff;
                text-decoration: none;
                text-shadow: 0px 1px 1px rgba(128, 68, 46, 0.4);
            }
        }
    }

    .footer-article {
        padding: 0;
        list-style: none;
        margin: 0 0 25px 0;

        li {
            font-size: 21px;
            line-height: 30px;
            padding-left: 25px;
            position: relative;

            &:before {
                left: 0;
                top: 4px;
                content: '';
                width: 12px;
                height: 12px;
                position: absolute;
                background: #dcf2fb;
                @include border-radius(50%);
                @include box-shadow(0px 1px 1px 0px rgba(65, 115, 128, 0.3));
            }

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #c2f3ff;
                }
            }
        }
    }

    .login-text {
        color: #c2f3ff;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .second-nav {
        padding: 0;
        list-style: none;
        margin: 0 0 24px 0;

        li {
            font-size: 16px;
            line-height: 24px;

            a {
                color: #c2f3ff;
                text-decoration: none;

                &:hover {
                    color: #fff;
                }
            }
        }
    }

    .footer-logo {
        width: 134px;
        display: block;
        margin: 0 auto 28px auto;
    }

    .footer-copy {
        color: #c2f3ff;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
    }

    @media (min-width: $screen-sm-min) {

        .footer-logo {
            float: right;
            width: 236px;
            margin: 55px 0 0 0;
        }

        .footer-copy {
            float: right;
            font-size: 16px;
            text-align: right;
            margin-top: -45px;
        }
    }

    @media (min-width: $screen-md-min) {
        padding-bottom: 25px;

        .footer-block {

        }

        .footer-article {
            margin-bottom: 60px;
        }

        .login-text {
            padding-right: 20px;
        }

        .footer-logo {
            float: left;
            width: 236px;
            margin: 90px 0 0 0;
        }

        .footer-copy {
            float: inherit;
            text-align: center;
            margin-top: 0;
        }
    }
}

