.topnav {
    background: #6fcce2;

    .navbar-header {
        margin: 0 -10px;
        padding: 20px 10px 35px 10px;
        border-bottom: 2px solid #afe6f8;

        .logo {
            float: left;
            width: 150px;
        }

        .navbar-toggle {
            color: #fff;
            width: 30px;
            float: right;
            cursor: pointer;
            margin-top: 12px;
            background: transparent;

            img {
                @include img-responsive(intile-block);
            }
        }
    }

    .navbar {
        font-size: 0;
        display: none;
        line-height: 0;
        margin: 0 -10px;
        text-align: center;

        > li {
            margin: 0;
            width: 100%;

            > a {
                width: 100%;
                color: #fff;
                font-size: 21px;
                font-weight: 400;
                line-height: 24px;
                text-align: center;
                padding: 12px 10px;
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;

                &:hover {
                    font-weight: 500;
                }
            }

            &.active {

                a {
                    font-weight: 700;
                }
            }

            &.item1 {

                a {
                    background: #6ed1e9;
                }
            }

            &.item2 {

                a {
                    background: #60e8d9;
                }
            }

            &.item3 {

                a {
                    background: #ffb464;
                }
            }

            &.item4 {

                a {
                    background: #ff8152;
                }
            }

            &.item5 {

                a {
                    background: #de5b53;
                }
            }
        }
    }

    @media (min-width: $screen-sm-min) {

        .navbar-header {
            padding: 17px 10px 40px 10px;

            .logo {
                width: 240px;
            }

            .navbar-toggle {
                width: 48px;
            }
        }
    }

    @media (min-width: $screen-md-min) {

        border-bottom: 2px solid #ace0f0;

        .navbar-header {
            float: left;
            margin: 0;
            border-bottom: none;
            padding: 17px 0 10px 0;

            .logo {
                width: 240px;
            }

            .navbar-toggle {
               display: none;
            }
        }

        .navbar {
            width: 660px;
            float: right;
            display: table;
            margin-right: -10px;

            > li {
                padding: 0 10px;
                text-align: center;
                display: table-cell;

                > a {
                    color: #c2f3ff;
                    padding: 34px 0;
                    border-bottom: 3px solid transparent;

                    &:hover {
                        color: #fff;
                        font-weight: 400;
                        border-bottom-color: #fff;
                    }
                }

                &.active {
                    a {
                        color: #fff;
                        font-weight: 400;
                        border-bottom-color: #fff;
                    }
                }

                &.item1,
                &.item2,
                &.item3,
                &.item4,
                &.item5 {
                    a {
                        background: transparent;
                    }
                }
            }
        }
    }
}

.header {
    color: #fff;
    padding-top: 45px;
    padding-bottom: 100px;
    background: #70c7dc url("../img/header_bottom.png") 50% 100% no-repeat;
    background-size: 100% auto;

    .header-top {

        > li {
            margin-bottom: 25px;
        }
    }

    h1 {

    }

    .text {
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        margin-bottom: 12px;
        text-transform: uppercase;
    }

    .btn {
        margin-bottom: 35px;
    }

    .header-slider {
        max-width: 410px;
        margin: 0 auto;
        padding-bottom: 35px;

        .header-slider-item {
            outline: none;
        }

        .slick-dots {
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            list-style: none;
            text-align: center;
            position: absolute;

            li {
                margin: 0 4px;
                display: inline-block;

                button {
                    width: 16px;
                    height: 16px;
                    outline: none;
                    cursor: pointer;
                    display: inline-block;
                    border: 1px solid #fff;
                    background: transparent;
                    @include border-radius(50%);
                }

                &.slick-active {

                    button {
                        background: #fff;
                    }
                }
            }
        }
    }

    .header-bottom {
        display: none;
        margin: 0 -10px;
    }

    @media (min-width: $screen-sm-min) {
        padding-bottom: 200px;

        .btn {
            margin-bottom: 0;
        }
    }

    @media (min-width: $screen-md-min) {
        padding-bottom: 310px;


        .header-top {
            margin: 0 -10px;

            > li {
                width: 50%;
                float: left;
                padding: 0 10px;

                &:first-child {
                    float: right;
                }

                &:last-child {
                    float: left;
                }
            }
        }

        .header-slider {
            margin: 0;
        }

        .header-bottom {
            display: none;
        }
    }
}