.btn {
	margin:0;
	color: #52a5bf;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	background: #fff;
	line-height: 20px;
	padding: 16px 48px 12px 48px;
	text-align: center;
	position: relative;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	text-transform: uppercase;
	touch-action: manipulation;
	@include border-radius(24px);
	@include box-shadow(0px 1px 3px 0px rgba(94, 173, 191, 0.75));

	&:hover {
		color: #52a5bf;
		background: #d4eef4;
		text-decoration: none;
	}

	&:active {
		background: #fff;
		@include box-shadow(0px 1px 6px 0px rgba(255, 255, 255, 0.75));
	}
}

.btn-blue {
	color: #fff;
	background: #70c7dc;
	text-shadow: 0px 1px 1px rgba(59, 123, 143, 0.5);
	@include box-shadow(0px 1px 3px 0px rgba(59, 123, 143, 0.75));

	&:hover {
		color: #fff;
		background: #63afc2;
	}

	&.active {
		background: #70c7dc;
	}
}

.btn-green {
	color: #fff;
	background: #58c7ba;
	text-shadow: 0px 1px 1px rgba(52, 122, 114, 0.5);
	@include box-shadow(0px 1px 3px 0px rgba(52, 122, 114, 0.75));

	&:hover {
		color: #fff;
		background: #63e0d2;
	}

	&.active {
		background: #69f0e0;
	}
}

.btn-yellow {
	color: #fff;
	background: #feb166;
	text-shadow: 0px 1px 1px rgba(129, 89, 50, 0.5);
	@include box-shadow(0px 1px 3px 0px rgba(129, 89, 50, 0.75));

	&:hover {
		color: #fff;
		background: #fd9939;
	}

	&.active {
		background: #fa8f26;
	}
}

.btn-rose {
	color: #fff;
	background: #f28b93;
	text-shadow: 0px 1px 1px rgba(133, 74, 79, 0.5);
	@include box-shadow(0px 1px 3px 0px rgba(133, 74, 79, 0.75));

	&:hover {
		color: #fff;
		background: #f06f79;
	}

	&.active {
		background: #f55764;
	}
}